# Zig
.zig-cache/
.zig-out/
zig-out/
zig-cache/
zig-pkg/

# Build artifacts
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.pdb
*.exe

# Editors / IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
